
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    font-size: 10px;
}
body{
    font-family: montserrat,sans-serif;
    background-color: #242433;
    color: white;
}
#title,#motto{
    letter-spacing: 2px;
    margin-bottom: 6px;
    text-align: center;
}
#title{
    font-size: 6rem;
    font-weight:bolder ;
}
#motto{
    color: #38ba6c;
    font-size: 3rem;
    font-weight: 300;


}

#startBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    padding:10px;
    font-size: 3rem;
    font-weight: 400;
    border: 3.5px solid #38ba6c;
    color: #38ba6c;
    border-radius: 50%;
    margin: auto;  
   
    margin-top: 20px;
    
}
#startBtn:hover{
    border: 2px solid #1da353;
    cursor: pointer;
    
}

header{
    display: flex;
    flex-direction: column;    
    height: 100dvh;
    justify-content: center;
    align-items: center;    
    align-content: center;
}

